<h2>Please search for the item you want!</h2>
<!-- <input [(ngModel)]="name"> -->
<button (click)= "buttonToSearch()">Search</button>
<ul *ngFor = "let inventory of inventories" class="inventory_list">

    <li id="inventory_item">Name : {{inventory.name}}<br>Totals : {{inventory.amount}}
        <div *ngIf="inventory.departmentFK === 1">Department: Food</div>
        <div *ngIf="inventory.departmentFK === 2">Department: Utility</div>
        <div *ngIf="inventory.departmentFK === 3">Department: Personal Care</div>
        <div *ngIf="inventory.departmentFK === 4">Department: Pet Care</div>
    
    </li>
    <!-- <app-add-inventory (addedItemEvent) ="buttonToSearch(event)"></app-add-inventory> -->
</ul>
