


<nav class="navbar">
    <div class="navbar_container">
        <a href="/" id="navbar_logo">Inventory</a>
        <ul class="navbar_menu">

            <!-- <li class="navbar_item">
            <a routerLink="statistics" class="navbar_links">Statistics</a>
            </li> -->

            <li class="navbar_item">
            <a routerLink="delete" class="navbar_links">  Adjust Inventory</a>
            </li>

            <li class="navbar_item">
            <a routerLink="add-inventory" class="navbar_links">Create your Item</a>
            </li>
            
            <li class="navbar_item">
            <a routerLink="get-all" class="navbar_links">Inventory List</a>
            </li>
            <li class ="navbar_item">
                <a routerLink="login-form" class ="navbar_links">Login</a>
            </li>
            <li class = "navbar_item">
                <a routerLink="register-form" class = "navbar_links">Register</a>
            </li>

        </ul>
    </div>
</nav>
